{% extends 'base.html' %} 

{% block title %}{{ client.first_name }} {{ client.last_name }} - Client Details{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Client Details</h2>
    <div>
        <a href="{% url 'clients:client_update' client.pk %}" class="btn btn-warning">Edit Client</a>
        <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Personal Information</h5>
                <dl class="row">
                    <dt class="col-sm-4">Full Name</dt>
                    <dd class="col-sm-8">{{ client.first_name }} {{ client.last_name }}</dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">{{ client.email }}</dd>

                    <dt class="col-sm-4">Phone</dt>
                    <dd class="col-sm-8">{{ client.phone }}</dd>

                    <dt class="col-sm-4">Date of Birth</dt>
                    <dd class="col-sm-8">{{ client.date_of_birth }}</dd>

                    <dt class="col-sm-4">Address</dt>
                    <dd class="col-sm-8">{{ client.address }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h5>Case Information</h5>
                <ul class="list-group">
                    {% for case in client.case_set.all %}
                    <li class="list-group-item">
                        <h6>{{ case.title }}</h6>
                        <p class="mb-0">Status: {{ case.status }}</p>
                        <small class="text-muted">Filed on: {{ case.filing_date }}</small>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No cases found for this client.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}